@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    margin: 0;
    background-color: #FDF7F4;
}
.embla {
    overflow: hidden;
  }
  .embla__container {
    display: flex;
  }
  .embla__slide {
    flex: 0 0 100%;
    min-width: 0;
  }
  
  /* Zentlify logo animation */
  .video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99; /* Ensure it is on top of everything */
    animation: fadeOut 1s ease-in-out forwards; /* Add fade-out animation */
    animation-delay: 2s; /* Match the video playback time */
  }

  .logo-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      visibility: hidden; /* Hide the element after fading out */
    }
  }
  /* Mobile-specific styles */
  @media (max-width: 768px) {
    .video-container {
      background: #000; /* Ensure a consistent black background on smaller screens */
    }

    .logo-video {
      width: 100%;
      height: auto; /* Maintain aspect ratio for smaller screens */
      max-height: 100%;
    }
  }