/* src/app/components/Header.module.css */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1rem;
    background-color: #FDF7F4;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo {
    display: flex;
    align-items: center;
    gap: 1px;
}

.logo h1 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
}

.searchBar {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    gap: 1px;
}

.searchBar input {
    width: 70%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.searchBar button {
    padding: 0.5rem 1rem;
    background-color: #0070f3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.searchBar button:hover {
    background-color: #005bb5;
}

.menuBar {
    font-size: 2rem;
    
}



